.card{
    min-width: 200px;
    border-radius: 20px;
    background-color: rgb(246, 254, 255);
    -webkit-box-shadow: 3px 3px 11px 4px rgba(66,66,66,0.29);
    box-shadow: 3px 3px 11px 4px rgba(66,66,66,0.29);
}
.col-2 div a{
    background-color: rgba(35, 130, 255, 0.171);
    margin: 20px;
}